doctype html
html
	head
	    title Reerka Network
	    meta(name='viewport', content='width=device-width')
	    link(href='https://fonts.googleapis.com/css?family=Montserrat:400,700|Open+Sans', rel='stylesheet', type='text/css')
	    link(rel='stylesheet', type='text/css', href='css/style.css')
	body
		div
			h1 help
			


